################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/proga/.vs/proga/FileContentIndex/5ec9fd24-0ac7-4d77-af56-1b4fe4651251.vsidx
