################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

ProtosInterface/bin/
ProtosInterface/obj/
ProtosInterface/.vs/
ProtosInterface/DBConnection.cs
*.user
*.suo
*.cache