################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/proga/.vs/proga/FileContentIndex/5ec9fd24-0ac7-4d77-af56-1b4fe4651251.vsidx
/proga/.vs/WPF_Diplom_TEST/FileContentIndex/9bbbe711-0bec-425d-95eb-3be013f0e875.vsidx
/ProtosInterface/AppDbContext.cs
/ProtosInterface/AppDbContext.cs
